<div>
  <h2 class="titulo">Contactame:</h2>
</div>
<section id="contacto"data-aos="fade-up" >
    <h4 class="encabezado4">
        <form id="formulario">  
            <div class="col-md-4 mx-auto">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" name="nombre" class="form-control" id="nombre" placeholder="nombre" required>
            </div>
            <div class="col-md-4 mx-auto">
                <label for="email" class="form-label">Email:</label>
                <input  name="email" type="email" class="form-control" id="email" placeholder="name@example.com" required>
              </div>
              <div class="col-md-4 mx-auto">
                <label for="mensaje" class="form-label">Mensaje:</label>
                <textarea name="mensaje" class="form-control" id="mensaje" rows="3" placeholder="Escribe tu mensaje..." required></textarea>
              </div>
              <br>
              <div class="d-grid gap-2 col-4 mx-auto">
                <button class="btn btn-success" type="submit"> Enviar</button>
              </div> 
        </form>
    </h4>
</section>

