<nav class="navbar navbar-expand-lg bg-secondary scrolling-navbar fixed-top">
    <div class="container">
      <img src="./assets/img/APLogo-20-20.png" width="10%" height="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Button trigger modal-->
    <li class="list-group-item">
      <i class="fa-solid fa-user-lock fa-2x" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
    </i>
  </li>
    </div>
    <app-redes></app-redes>
</nav>
<app-login></app-login>



