<section id="contacto">
    <h4 class="encabezado4">
        <form id="formulario">
            <div class="col-md-4 mx-auto">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="nombre" class="form-control" id="exampleFormControlInput2" placeholder="nombre">
            </div>
            <div class="col-md-4 mx-auto">
                <label for="exampleFormControlInput1" class="form-label">Email:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="col-md-4 mx-auto">
                <label for="exampleFormControlTextarea1" class="form-label">Mensaje:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <br>
              <div class="d-grid gap-2 col-4 mx-auto">
                <button class="btn btn-success" type="enviar"> Enviar</button>
              </div> 
        </form>
    </h4>
</section>
<app-modal-contacto></app-modal-contacto>
