<!--MODAL FOTO PERFIL-->
<i class="fa-solid fa-pen-to-square fa-2x" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalPerfil" id="fotoPe"></i>
<div class="modal" id="exampleModalPerfil" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar foto de perfil</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form>
              <div class="modal-body">
                <div>
                   <label for="formFileMultiple" class="form-label text-black">¿Desea actualizar la foto de perfil o Eliminar la actual? </label>
                   <input class="form-control text-white" type="file" id="formFileMultiple" multiple>   
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success">Actualizar</button>
                 <button type="submit" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </form>
      </div>
    </div>
  </div>
