   <!-- MODAL Habilidades-->
   <div class="modal" id="exampleHabilidades" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black">Habilidades</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form [formGroup]="form" *ngFor=" let habilidad of habilidades" >
              <span>{{habilidad.id}}. {{habilidad.nombre|uppercase}}</span>
              <span class="d-flex justify-content-between gap-2"></span>
              <button type="button" class="btn btn-sm btn-outline-success pl-1 pr-1 m-0" (click)="cargarDetail(habilidad.id)">
                <i class="fa-solid fa-pen-to-square fa-2x" type="button" data-bs-toggle="modal" data-bs-target="#exampleHabilidades" id="habi"></i>
                </button>
              <div class="modal-body">
                <div>
                   <label for="formFileMultiple" class="form-label text-black">Nombre: </label>
                   <input class="form-control" type="text" id="formFileMultiple" formControlName="habilidad" multiple  [class.border-danger]="NombreInValid" [class.border-success]="NombreValid">

                   <label for="formFileMultiple" class="form-label text-black">Porcentaje de conocimiento: </label>
                   <input class="form-control" type="text" id="formFileMultiple" multiple  [class.border-danger]="PorcentajeInValid" [class.border-success]="PorcentajeValid">

                   <label for="formFileMultiple" class="form-label text-black">Color: </label>
                   <input class="form-control" type="text" id="formFileMultiple" multiple  [class.border-danger]="ColorInValid" [class.border-success]="ColorValid">
                </div>

                <div *ngIf="Nombre?.errors && Nombre?.touched">
                  <p *ngIf="Nombre?.hasError('required')" class="error">
                    El nombre es requerido.
                  </p>
                </div>

                <div *ngIf="Porcentaje?.errors && Porcentaje?.touched">
                  <p *ngIf="Porcentaje?.hasError('required')" class="error">
                    Se requiere de un porcentaje de conocimiento.
                  </p>
                </div>

                <div *ngIf="Color?.errors && Color?.touched">
                  <p *ngIf="Color?.hasError('required')" class="error">
                    El color es requerido.
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success" (click)="Update()" [disabled]="form.invalid">Actualizar</button>
                <button type="submit" class="btn btn-danger" (click)="EliminarHabilidad(habilidad.id)">Eliminar</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal" >Cerrar</button>
              </div>
            </form>
      </div>
    </div>
  </div>
