<!-- MODAL Presentacion-->
<i class="fa-solid fa-pen-to-square fa-2x" type="button" data-bs-toggle="modal" data-bs-target="#examplePresentacion" id="presentacion"></i>
<div class="modal" id="examplePresentacion" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Presentacion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
             <form>
                <div class="modal-body">
                  <div>
                   <label for="formFileMultiple" class="form-label text-black">¿Desea cambiar la presentacion? </label>
                   <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> 
                   <label for="formFileMultiple" class="form-label text-black">¿Desea actualizar el banner? </label>
                   <input class="form-control text-white" type="file" id="formFileMultiple" multiple>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success">Actualizar</button>
                  <button type="submit" class="btn btn-danger">Eliminar</button>
                  <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cerrar</button>
                </div>
             </form>
      </div>
    </div>
  </div>
