#perfil{
    transform: translateX(800px);
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}

.encabezado2{
    color:aliceblue;
    font-family: 'Courgette', cursive;
}

.tituloS{
    color: aliceblue;
    font-family: 'Courgette', cursive;
}