<div>
  <h2 class="tituloE">Estudios:</h2>
</div>

<section id="educacion"> 
    <div class="row"*ngFor="let Estudios of estudios">
     <h3 class="encabezado3">
     <div>
      <ul>
        <li>
          <h2>
            <img [src]="Estudios.logo" width="100">
          </h2>
          <h3>{{Estudios.nombre}}</h3>
          <h4>{{Estudios.institucion}}</h4>
          <h5>{{Estudios.fechaI}} - {{Estudios.fechaFin}}</h5>
        </li>
      <!--<i class="fa-solid fa-pen-to-square fa-2x" type="button" data-bs-toggle="modal" data-bs-target="#exampleEducacion" id="educa"></i>-->
      </ul>
     </div>
      </h3>
   </div>
  </section>
  <app-modal-educacion></app-modal-educacion>
  <br>

