<nav class="navbar navbar-expand-lg bg-secondary scrolling-navbar fixed-top">
    <div class="container">
      <img src="./assets/img/APLogo-20-20.png" width="10%" height="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup"></div>
    </div>
    <!--<i class="fa-solid fa-pen-to-square fa-2x" type="button" data-bs-toggle="modal" data-bs-target="#exampleRedes" id="rsociales"></i>-->
    <app-redes></app-redes>
    <app-modal-dashboard></app-modal-dashboard>
  </nav>   
<app-modal-redes></app-modal-redes>
