
    body{
        font-family:'Times New Roman', Times, serif;
        background-image: url(./assets/img/background.jpg);
        
    }

    .encabezado1,.encabezado2, .encabezado3, .encabezado4 {
        display: inline;
        padding: 50px;
    }
    
    header{
        margin-top: 75px;
    }
    
    .row{
        padding: 20px;
    }