<body>
    <div class="d-flex align-items-center justify-content-center vh-100" data-mdb-animation-start="onHover">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-danger">
                <span class="fade-in-text" id="digit1"> 4</span>
                <span class="fade-in-text" id="digit2"> 0</span>
                <span class="fade-in-text" id="digit3"> 4</span>
            </h1>
            <p class="fs-3 text-white"> <span class="text-danger">Opps!</span> Pagina no encontrada.</p>
            <p class="lead text-white">
                La pagina que buscas no existe.
              </p>
            <a routerLink="/inicio" class="btn btn-success">Volver al Inicio</a>
        </div>
    </div>
</body>